body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 32, 80);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#container{
    height: 600px;
    width: 400px;
    border: solid 4px black;
    border-radius: 16px;
    padding: 15px;
    background-color: lightgrey;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 5px 5px 5px grey, 5px 5px 15px rgb(0, 86, 143);
}

button{
    background-color: #fff;
    width: 100px;
    height: 50px;
    border: solid 2px black;
    border-radius: 8px;
    font-weight: 800;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 5px grey;
}
button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 32, 80);
    transform: scale(1.08);
}

#playerPicks{
    display: flex;
    gap: 16px;
    margin-top: 25%;
}

.normal{
    height: 150px;
    width: 150px;
    border: solid 4px black;
    border-radius: 16px;
    background-color: #fff;
    text-align: center;
    font-size: 36px;
    box-shadow: 5px 5px 5px grey;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rockPick{
    background-image: url(./images/170-1705318_rock-png-clipart-transparent-png.png);
    background-size: 100% 100%;
    background-position: center;
}

.paperPick{
    background-image: url(./images/paper.jpg);
    background-position: center;
    background-size: 100% 100%;
}

.scissorsPick{
    background-image: url(./images/scissors.png);
    background-position: center;
    background-size: 100% 100%;
}

#answers{
    text-align: center;
    display: flex;
    gap: 16px;
    margin-top: auto;
}
#answers p{
    background-color: rgb(255, 255, 255);
    border: solid 2px black;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
}

